<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forum</title>
    <!-- <link id="global" rel="stylesheet" href="/src/assets/css/global.css" /> -->
  </head>
  <body>
    <noscript>the website is not working for the moment</noscript>
    <!-- navbar -->
    <nav id="navbar" class="navbar">
      <!-- Content will be dynamically populated by NavBarView -->
    </nav>
      <h1>hhhhhhhhhhhhhhh</h1>
    <main id="app" class="main-content">
      <!-- main content -->
    </main>
    <script>
      const API_HOST_NAME = `{{.}}`;
    </script>
    <script type="module"  src="/controlers/login.js"></script>
  </body>
</html>